/* Importation font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

/* Style généraux */
a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
}

section {
    padding: 0 8%;
}

/* Style de la div head de chaque section */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c1784a
}

.title {
    margin: 60px 0;
    font-weight: bold;
    color: #dc976c;
    position: relative;
    margin-left: 15px;
}

.title::after {
    position: absolute;
    left: -15px;
    content: "";
    height: 100%;
    background-color: #fff;
    width: 5px;
}

/* Skip link */
.skip-link {
    position: absolute;
    color: #fff;
    text-decoration: none;
    border: 2px;
    top: 100px;
}

.skip-link:not(:focus-visible):not(:active) {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
}

.skip-link:focus {
    z-index: 999;
}

/* NavBar */
nav {
    position: fixed;
    width: 100%;
    padding: 10px 3%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav .logo {
    width: 130px;
    height: auto;
}

nav .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .links li {
    margin-right: 3px;
}

nav .links li {
    position: relative;
    font-size: 1rem;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

nav .links li:nth-child(-n + 4) a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

nav .links li:nth-child(-n + 3) a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.btn-panier {
    border: 2px solid #c1784a;
    padding: 5px 20px;
    color: white
}

.btn-panier:hover {
    background-color: #c1784a;
}

.btn-reservation {
    border: 2px solid #c1784a;
    padding: 5px 20px;
    text-decoration: none;
}

.btn-reservation:hover {
    background-color: #c1784a;
}

/* Section Hero CSS */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #fff;
    background-image: url(Images/pexels-ylanite-koppens-776654.jpg);
}

/* Div Hero-text CSS */
.hero .hero-text {
    position: absolute;
    text-align: center;
}

.hero .hero-text h1 {
    text-decoration: underline;
    margin-bottom: 3%;
    text-underline-offset: 20px;
    font-size: 1.75rem;
}

.hero .hero-text p {
    margin-bottom: 3%;
}

/* Div Hero-form CSS */
.hero .hero-form {
    background-color: #222;
    padding: 30px;
    width: 75%;
    border-radius: 2%;
    position: absolute;
    bottom: -70px;
}

.hero .hero-form form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.hero .hero-form form div, .hero .hero-form form input[type="submit"] {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.hero .hero-form form label {
    color: #fff;
    margin-bottom: 10px;
    font-size: 0.938rem;
}

.hero .hero-form form input, .hero .hero-form form select {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #c1784a;
    width: 100%;
    font-size: 0.813rem;
    color: #fff;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.hero .hero-form form select option {
    color: #000;
}

.hero .hero-form form input[type="submit"] {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 0 10px 0px;
    font-size: 1.15rem;
    border-radius: 10%;
}

.hero .hero-form form input[type="submit"]:hover {
    box-shadow: 0 0 10px #c1784a;
}


/* Section prochains évènements CSS */
.prochains-evenements {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

/* Section Nouveaux évènement CSS */
.nouveaux-evenements {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

/* Card section prochains et nouveaux evenements */
.card {
    display: flex;
    gap: 32px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.card::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.card-container {
    max-width: 300px;
    background-color: #131111;
    border-radius: 15px;
    padding: 2rem 2rem 1rem 2rem;
    color: #d7d3d3;
}

.card-container:hover {
    transform: scale(102%);
    transition: .2s ease-in;
}

.card-content_title {
    font-size: 1.375rem;
    color: #fff;
}

.card-container .card-content .flex-row, .card-container .card-content .card-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content_price,
.card-content_seats,
.card-link button {
    display: flex;
    align-items: center;
    padding: 0.4em 0;
    color: #c1784a;
}

.card-container .card-content .card-link button {
    border: #c1784a solid 1px;
    border-radius: 5%;
    color: #fff;
    padding: 7px;
    background-color: transparent;
}

.card-container .card-content .card-link button:hover {
    background-color: rgba(140, 136, 136, 0.4);
}

.card-container .card-content .card-link .ajout-panier {
    filter: invert(1);
    width: 30%;
    padding-left: 5px;
    max-width: 30px;
}

.card-container .card-container_images {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.card-container .card-container_images img {
    border-radius: 3%;
}

.card-container .card-container_images .nouveaute {
    position: absolute;
    top: 2px;
    left: 0px;
    background-color: rgb(226, 7, 7);
    color: white;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

/* Bouton slider section Nouveaux et prochains evenements */
.btn-container {
    display: flex;
    gap: 16px;
}

.btn-slide {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: #131111;
    border: solid 1px;
}

.btn-slide:hover {
    background-color: #1f1b1b;
}

.btn-left {
    transform: scale(-1);
}


/* Section à propos CSS */
.a-propos {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.a-propos .img-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.a-propos .img-desc .right {
    width: 60%;
}

.a-propos .img-desc .right h2 {
    color: #dc976c;
    padding-bottom: 15px;
}

.a-propos .img-desc .right p {
    color: #fff;
    padding-bottom: 25px;
}

.a-propos .img-desc .left {
    position: relative;
    margin-left: 10px;
    width: 26%;
}

.a-propos .img-desc .left img {
    width: 100%;
    height: 100%;
    position: relative;
}

.a-propos .img-desc .right a {
    border: 1px solid #c1784a;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    padding: 8px 25px;
    font-weight: bold;
}

.a-propos .img-desc .right a:hover {
    background-color: #c1784a;
}

/* Section Categorie Evenements CSS */
.categorie-evenement {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.categorie-evenement .content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 32px;
}

.categorie-evenement .content .cart {
    cursor: pointer;
    position: relative;
    height: 250px;
}

.categorie-evenement .content .cart:hover {
    transform: scale(97%);
    transition: 0.2s;
}

.categorie-evenement .content .cart img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2%;
    filter: brightness(70%);
}

.categorie-evenement .content .cart .content {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;

}

.categorie-evenement .cart .content h2 {
    position: absolute;
    font-size: 1.25em;
    bottom: 16px;
    left: 16px;
    font-weight: bold;
}

.categorie-evenement .cart .content p:nth-child(3) {
    margin-bottom: 25px;
}

/* Footer CSS */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 25px 120px;
    background-color: #131111;
    border-top: 1px solid #1f1b1b;
    color: #fff;
}

.footer>* {
    flex: 100%;
}

.footer .footer_addr {
    margin-right: 0.8em;
    margin-bottom: 1.5em;
}

.footer .footer_logo {
    width: 30%;
}

.footer .footer_addr h1 {
    margin-top: 1.3em;
    font-size: 1rem;
    font-weight: 400;
}

.footer .footer_addr address {
    font-size: 0.938rem;
}

.footer .nav_title {
    font-weight: 400;
    font-size: 1rem;
    color: #dc976c;
}

.footer address {
    font-style: normal;
    color: #dccaca;
    font-size: 0.875rem;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li a {
    position: relative;
    font-size: 1rem;
    color: #dccaca;
    margin-right: 30px;
    text-decoration: none;
}

.footer li a:hover {
    color: #fff;
}

.footer li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -3px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.footer li a:hover::after {
    transform: translateY(0);
    opacity: 1;

}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer .footer_nav {
    display: flex;
    flex-flow: row wrap;
}

.footer .footer_nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}


.footer .legal {
    display: flex;
    flex-wrap: wrap;
    color: #e9d9d9;
}

@media screen and (min-width: 24.375em) {
    .footer .legal .legal_links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer .footer_nav>* {
        flex: 1;
    }

    .footer .nav_item--extra {
        flex-grow: 2;
    }

    .footer .footer_addr {
        flex: 1 0px;
    }

    .footer .footer_nav {
        flex: 2 0px;
    }
}

/* a-propos.php page css */
.apropos {
    position: relative;
    top: 10vh;
    color: white;
}

.apropos h1 {
    text-align: center;
}

.apropos section {
    display: block;
    background-color: #212020;
    margin: 2% 5% 2% 5%;
    padding: 2%;
}

.apropos section h2 {
    color: #dc976c;
    padding: 1% 0 1% 0;
}

.apropos .mentionslegales h3 {
    padding-top: 7px;
    padding-bottom: 2px;
}

/* nos-evenements.php page css */
.nos-evenements {
    position: relative;
    display: flex;
    width: 100%;
    gap: 5px;
    top: 12vh;
    color: white;
    margin-bottom: 400px;
}

.test {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px 0 30px;
}

.filter-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #1f1b1b;
}

.filter-form fieldset {
    border: none;
}


.filter-form h1 {
    margin: 30px 10px 0 10px;
    font-size: 1.4rem;
    color: #dc976c;
    text-decoration: underline;
}

.filter-form h2 {
    font-size: 1.2rem;
}

.filter-form input[type="submit"] {
    align-self: center;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    padding: 8px 4px 8px 4px;
    margin-bottom: 10px;
    font-size: 1.15rem;
    border-radius: 10%;
    width: fit-content;
}

.filter-form input[type="submit"]:hover {
    box-shadow: 0 0 10px #c1784a;
}

.filter {
    margin: 25px;
}

.filter-categorie .checkbox {
    display: flex;
    flex-direction: column;
}

.recherche {
    color: #555;
    max-height: 45px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1px;
    margin: 2px 0 2px 0;
    border: 1px solid;
    border-radius: 5px;
}


.recherche input[type="search"] {
    border: none;
    width: 95%;
    color: white;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 0.975rem;
    border: 1px solid transparent;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.recherche button[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    filter: invert(1);
    opacity: 0.7;
    height: 100%;
}

.recherche button[type="submit"] img {
    height: 100%;
    margin-right: 5px;
}

button[type="submit"]:hover {
    opacity: 1;
}

.card-evenement {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    gap: 10px;
}

.tri {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tri span {
    margin-right: 10px;
}

.tri a {
    padding: 5px;
    margin-right: 10px;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}